@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap');

@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}


html,
body {
  margin: 0 auto;
  padding: 0;
  height: 100%;
  background-color: rgba(36, 33, 33, 0.925)!important;
  font-family:'Big Shoulders Display', cursive !important;
  color: white !important;
  font-size: large !important;
}



.comment-form {
  width: 80%;
  margin: auto;
}

/*neon animacion--------------------------------------------------*/
.neon {
  font-family:'Big Shoulders Display', cursive;
  font-size: 30px;
  color: #FB4264;
  text-shadow: 0 0 3vw #F40A35;
}
.neon:hover{
  font-weight: bolder;
}
.cat{
  font-family:'neon', cursive;
  color: #FB4264;
  text-shadow: 0 0 3vw #F40A35;
}
.cat:hover{
  font-weight: bolder;
}

.flux {
  font-family: 'Big Shoulders Display', cursive;
  font-size: 30px;
  color: #426DFB;
  text-shadow: 0 0 3vw #2356FF;
}
.flux:hover{
  font-weight: bolder;
}

.btn-secondary{
 background-color: #fe28da;
}

.footer{
width: 100%;
background-color: rgb(41, 39, 39);
display: flex;
flex-direction: row;
flex-wrap: nowrap;
position: relative;
bottom: 0; 
margin-top: 5%;
}

.redes{
  justify-content: center;
  align-self: center;
  margin-right: 15px;
}
.card-body h5, p{
  align-content: center; 
  width: 40%;
  font-family:'Big Shoulders Display', cursive;
  color: white;
  font-size: x-large;
}

li{
  margin-top: 2% ;
  margin-bottom: 2% ;
}


.divproducto{
  margin-top: 3%;
  margin-bottom:5%;
}
img{
  width: 520px;
  height: 280px;
}
.logo{
  width: 10%;
  height: 10%;
}